.footer{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;   
    align-items: center; 
    gap: 5px;
    background-color: black;
    min-height: 100px;
    .redes-sociales a{
        color: $textoprincipal;
        font-size: 25px;
        border-radius: 100%;    
        transition: 5s ease;
        padding: 0 10px;
        
        &:hover i {
            color: rgb(253, 129, 6); 
        }
    }
    .direccion p{
        color: orange;
        margin: 10px 10px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }    
}






