.row{
    margin-top: 50px;
}

.row h2{
   color:white;
   letter-spacing: 10px;
   text-align:center;
   margin-bottom: 50px;    
}

.row h3{    
   line-height: 2;
   color: white;
   text-align:center;
   margin-bottom: 50px;    
}