.row {
   margin-top: 50px;

   .child h2 {
         color: $textoprincipal;
         letter-spacing: 10px;
         text-align:center;
         margin-bottom: 50px;
         background-color: rgba(89, 87, 84, 0.7);
         border-radius: 20px;
         
         
         
      }
   .child h3 {
         line-height: 2;
         color: $textoprincipal;
         text-align:center;
         margin-bottom: 50px; 
         font-size: 20px;
   }   
}



