.contenedor{   
    padding: 100px;
    display: flex;
    justify-content: center;  
    text-align: center;
    
    
      h1{
        text-align: center;
        margin: 10px 10px;
        background-color:gray ;
        border-radius: 10px; 
        font-size: 20px;

          
      }

      iframe{
        border-radius: 5px;
        box-shadow: 5px 5px 5px #fff;
      }
  }
 


 
 
